@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --square-size: 15px;
  --square-gap: 2px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

ul {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #959494;
  list-style: none;
  padding: 5px;
  margin: 0;
}

.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }
.graph-level { grid-area: levels; }

.graph {
  display: grid;
  grid-template-areas: "empty months"
                       "days squares"
                       "space levels";
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
}

.months {
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4)
                         calc(var(--week-width) * 4)
                         calc(var(--week-width) * 4)
                         calc(var(--week-width) * 4)
                         calc(var(--week-width) * 4)
                         calc(var(--week-width) * 4)
                         calc(var(--week-width) * 4)
                         calc(var(--week-width) * 4)
                         calc(var(--week-width) * 4)
                         calc(var(--week-width) * 4)
                         calc(var(--week-width) * 4)
                         calc(var(--week-width) * 4)
                         calc(var(--week-width) * 4);
}

.days, .squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.graph-level {
  display: grid;
  grid-template-columns: min-content repeat(5, var(--square-size)) min-content;
  grid-gap: var(--square-gap);
  height: 15px;
}

.graph-level li {
  width: 100%;
  height: 100%;
}

.squares li[data-level='No contributions'], .graph-level li:nth-child(2) {
  background: #EDEDED;
}

.squares li[data-level='1-9 contributions'], .graph-level li:nth-child(3) {
  background: #ACD5F2;
}

.squares li[data-level='10-19 contributions'], .graph-level li:nth-child(4) {
  background: #7FA8C9;
}

.squares li[data-level='20-29 contributions'], .graph-level li:nth-child(5) {
  background: #527BA0;
}

.squares li[data-level='30+ contributions'], .graph-level li:nth-child(6) {
  background: #254E77;
}

.graph-level li:nth-child(1), .graph-level li:nth-child(7) {
  padding: 0 5px;
}

.squares li {
  position: relative;
}

.squares li:hover, .squares li:active {
  border: 1px solid black;
}

.squares li::after {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  height: min-content;
  background: black;
  border-radius: 3px;
  padding: 5px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: 1s;
  z-index: 100;
}

.squares li::before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid black;
  opacity: 0;
  z-index: 100;
}

.squares li:hover::after {
  content: attr(data-level);
  opacity: 1;
}

.squares li:active::after {
  content: attr(data-value) attr(data-date);
  opacity: 1;
}

.squares li:hover::before {
  opacity: 1;
}